<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Electrolib</a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['./verify']" class="btn waves-effect waves-light red">Sign In</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">=</i></a>
    </div>
  </nav>
  </div>

  <app-header-div></app-header-div>

  <div class="section scrollspy green" id="search">
    <div class="container">
      <div class="row">
        <h3 class="white-text center">How It Works</h3>
        <br><br><br>
        <div class="col s12 m12">
          <div class="icon-block">
            <div class="center light-blue-text">
            <img class="responsive-img header-info-img center" src="/assets/img/search_icon.ico"></div>
            <h5 class="center white-text">Search by Title</h5>
            <p class="center white-text flow-text">Register, enter book info if you have any or contact book owner who has book to be given free, Signing-in</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <app-books-div></app-books-div>   
  <footer class="page-footer scrollspy red" id="about">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">This section will contain 3 lines of introduction about the system and we are improving the system and all that stuff. 
            This section will contain 3 lines of introduction about the system and we are improving the system and all that stuff.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
              <li><a class="white-text" href="#!">Facebook</a></li>
              <li><a class="white-text" href="#!">Twitter</a></li>
              <li><a class="white-text" href="#!">Instagram</a></li>
              <li><a class="white-text" href="#!">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="#!">Fateh</a>
        <a class="white-text text-lighten-3 right" href="#!">Privacy Policy &nbsp;</a>
        <a class="white-text text-lighten-3 right" href="#!">About Us &nbsp;</a>
        <a class="white-text text-lighten-3 right" href="#!">Terms of Use &nbsp;</a>
      </div>
    </div>
  </footer>
  
    <div class="tap-target" data-activates="menu">
      <div class="tap-target-content">
        <h5>Title</h5>
        <p>A bunch of text</p>
      </div>
    </div>