<div class="section scrollspy no-pad-bot" id="header">
  <div class="container">
    <h1 class="header center orange-text">BookBin.Org</h1>
    <h3 class="header center orange-text animated zoomIn">Free Paper Books</h3>
    <div class="row center">
      <div class="header col s12 light">
        <img class="responsive-img header-illustration" src="/assets/img/header_info2.png">
      </div>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">Now all of the books are just one click away</h5>
    </div>
    <div class="row center">
      <button id="download-button" class="btn-large waves-effect waves-light red" (click)="verifyCredentials()">Get Started</button>
    </div>
    <br>
    <br>
  </div>
</div>